<!doctype html>

<head>
    <link rel="stylesheet" type="text/css" href="css/temp.css">

</head>

<body>
    <h1> Friend's List </h1>
    <div style="text-align: center">
        <table id="friend-list" style="border: 1px solid black; text-align: center; padding: 500px; margin-left: auto; margin-right: auto">
            <tr>
                <th>Friends</th>
            </tr>
            <tr>
                <td>Bob the Builder</td>
            </tr>
            <tr>
                <td>Avril Lavigne</td>
            </tr>
            <tr>
                <td>Adam Sandler</td>
            </tr>
        </table>
    </div>
</body>
